@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.footer {
  width: 100%;
  padding: 20px 40px;
  @include mixin.grid(3, 1fr, 20px);
  justify-items: center;
  align-items: center;
  background-color: vars.$only-white;
  color: vars.$only-black;

  &__col {
    @include mixin.flex(center, center, column);
    gap: 20px;
  }

  &__p {
    @include mixin.flex(center, center, row);
    gap: 10px;
    font-size: 1.4rem;
    text-align: center;

    @include mixin.media() {
      text-align: start;
    }

    &--title {
      font-size: 2rem;
    }

    &--color {
      font-size: 1.2rem;
      color: #cecdcd;
    }
  }

  &__span {
    font-size: inherit;
    white-space: nowrap;
  }

  &__social {
    @include mixin.flex(center, center, row);
    gap: 20px;
  }

  &__icon {
    font-size: 1.8rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
      transform: scale(1.1) translateY(-5px);
      -webkit-transform: scale(1.1) translateY(-5px);
      -moz-transform: scale(1.1) translateY(-5px);
      -ms-transform: scale(1.1) translateY(-5px);
      -o-transform: scale(1.1) translateY(-5px);
      color: vars.$green-black;
    }
  }

  &__img {
    width: 140px;
  }
}
