@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.header {
  position: relative;
  width: 100%;
  // max-width: 1380px;
  margin: 0 auto;
  height: 100%;
  padding: 10px 0 20px 0;
  background-color: vars.$background;
  color: vars.$only-white;

  @include mixin.media() {
    height: 100vh;
    padding: 0;
  }

  @include mixin.mediaTv() {
    width: 90%;
    padding: 0;
  }

  &__nav {
    position: fixed;
    top: 0;
    width: 100%;
    // max-width: 1380px;
    padding: 0 10px;
    @include mixin.flex(flex-end, center, row);
    z-index: 5;

    @include mixin.media() {
      padding: 20px 10px;
    }

    @include mixin.media(1025px) {
      padding: 20px 50px;
    }

    @include mixin.mediaTv() {
      width: 90%;
    }
  }

  &__logo {
    position: relative;
    top: 20px;
    left: 20px;
    width: 110px;

    @include mixin.media() {
      top: 20px;
      left: 50px;
      width: 110px;
    }
  }

  &__span {
    font-size: 2rem;
    color: vars.$green-medium;
  }

  &__button {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: vars.$borderRadius;

    @include mixin.media() {
      display: block;
      margin-top: 0;
    }

    &--active {
      background-color: rgba(89, 142, 95, 0.4);
      backdrop-filter: blur(7px);
    }
  }

  &__openIcon {
    font-size: 3.5rem;
    color: vars.$only-white;
  }

  &__decorate {
    display: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    @include mixin.media() {
      display: none;
      font-size: 2.4rem;
      width: fit-content;
      cursor: pointer;
    }

    &:hover {
      color: vars.$green-medium;
    }
  }

  &__ul {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    padding: 45px 50px 0 50px;
    @include mixin.flex(center, flex-end, column);
    row-gap: 40px;
    background-color: vars.$green-pant;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out;
    z-index: 5;
    opacity: 0;
    visibility: hidden;

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      box-shadow: -6px 0px 29px 7px #000000a3;
    }

    @include mixin.media() {
      width: 420px;
      @include mixin.flex(center, flex-start, column);
    }

    @include mixin.mediaTv() {
      width: 520px;
    }
  }

  &__close {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: auto;
    @include mixin.flex(center, center, column);
    color: vars.$green-pant;
    background-color: vars.$only-white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 10px;
  }

  &__closeIcon {
    font-size: 2rem;
  }

  &__li {
    position: relative;
  }

  &__title {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: left;
    color: vars.$only-white;

    @include mixin.media() {
      font-size: 4rem;
    }

    &::before {
      content: "Menu";
      position: absolute;
      top: -10px;
      left: 10px;
      text-align: left;
      color: transparent;
      -webkit-text-stroke: 1.5px #64646425;
    }
  }

  &__a {
    position: relative;
    font-size: 2.2rem;
    color: vars.$only-white;

    @include mixin.media() {
      font-size: 1.8rem;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: vars.$green-medium;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
    }

    &:hover::before {
      width: 100%;
    }

    &::after {
      content: attr(data-text);
      pointer-events: none;
      position: absolute;
      right: -180px;
      bottom: 30%;
      width: 100%;
      color: transparent;
      -webkit-text-stroke: 1.5px #64646425;
      opacity: 0;
      transition: 0.3s ease;
      transition-property: opacity, transform;
      z-index: -1;
      text-align: center;
      transform: rotate(90deg) scale(3);
    }

    &:hover::after {
      opacity: 1;
      transform: scale(3) translateY(10px) rotate(90deg);
    }
  }

  &__info {
    position: relative;
    width: 85%;
    max-width: 700px;
    margin: 40px auto 0 auto;
    @include mixin.flex(flex-start, flex-start, column);
    row-gap: 5px;
    z-index: 1;

    @include mixin.media() {
      position: absolute;
      top: calc(55% - 150px);
      left: 50px;
      width: max-content;
      height: 340px;
      margin: 0;
      row-gap: 10px;
      z-index: 2;
    }

    @include mixin.mediaTv() {
      height: max-content;
    }
  }

  &__welcome {
    display: none;
    @include mixin.media() {
      display: block;
      font-size: 2rem;
    }
  }

  &__h1 {
    order: 2;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: vars.$only-white;
    font-family: vars.$fontFamilyTitles;

    @include mixin.media() {
      display: block;
      font-size: 4.2rem;
      letter-spacing: 0.5rem;
      -webkit-text-stroke: 1px vars.$only-white;
    }

    @include mixin.mediaTv() {
      font-size: 5rem;
    }
  }

  &__h1Span {
    font-size: inherit;
    color: vars.$green-black;
    font-family: vars.$fontFamilyTitles;

    @include mixin.media() {
      -webkit-text-stroke: 1px vars.$green-black;
    }
  }

  &__h2 {
    order: 1;
    font-size: 1.8rem;
    color: vars.$green-black;
    font-family: vars.$fontFamilyTitles;
    font-weight: bold;

    @include mixin.media() {
      font-size: 2rem;
    }

    @include mixin.mediaTv() {
      font-size: 3rem;
    }
  }

  &__p {
    order: 3;
    font-size: 1.5rem;
    color: vars.$only-white;

    @include mixin.media() {
      width: 350px;
      text-align: start;
      letter-spacing: 0.1rem;
    }

    @include mixin.mediaTv() {
      width: 70%;
      font-size: 2rem;
    }
  }

  &__figure {
    order: 4;
    width: 100%;
    height: 400px;
    margin: 10px auto;
    display: block;

    @include mixin.media() {
      display: none;
    }

    & img {
      @include mixin.media(680px) {
        object-fit: fill;
      }
    }
  }

  &__imgContent {
    display: none;

    @include mixin.media() {
      position: absolute;
      right: 0;
      top: 0;
      width: 40%;
      height: 100vh;
      display: block;
      clip-path: ellipse(95% 95% at right);

      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    @include mixin.mediaTv() {
      top: 50px;
      right: calc(25% - 285px);
      width: 570px;
      height: 90vh;
      clip-path: none;
      border-radius: vars.$borderRadius;
      overflow: hidden;
    }
  }

  &__download {
    position: relative;
    order: 5;
    width: 100%;
    padding: 10px;
    border: 2px solid vars.$only-white;
    background-color: vars.$green-pant;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    overflow: hidden;

    @include mixin.media() {
      width: 300px;
      margin-top: 20px;
      font-size: 1.8rem;
      display: block;
    }

    &:hover {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
    }

    @include mixin.mediaTv() {
      width: 400px;
      height: 60px;
      @include mixin.flex(center, center, row);
      font-size: 2rem;
    }
  }

  &__downloadIcon {
    opacity: 0;
    visibility: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__social {
    position: relative;
    order: 6;
    margin: 40px auto 0 auto;
    width: 50%;
    max-width: 250px;
    @include mixin.flex(space-between, center, row);
    flex-wrap: wrap;

    @include mixin.media() {
      position: relative;
      width: max-content;
      margin: 40px 0 0 0;
      gap: 20px;
      z-index: 2;
    }
  }

  &__link--download {
    display: none;

    @include mixin.media() {
      display: inline;
    }
  }

  &__iconSocial {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid vars.$green-medium;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 2rem;
    color: vars.$off-white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    @include mixin.media() {
      font-size: 2rem;
      color: vars.$only-white;
    }

    &--youtube {
      border-color: #c4302b;

      &:hover {
        background-color: #c4302b;
      }
    }

    &--instagram {
      border-color: #c13584;

      &:hover {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
      }
    }

    &--linkedin {
      border-color: #0e76a8;

      &:hover {
        background-color: #0e76a8;
      }
    }

    @include mixin.mediaTv() {
      width: 50px;
      height: 50px;
    }
  }
}
