@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.photos {
  width: 90%;
  // max-width: 1380px;
  margin: 40px auto 0 auto;
  @include mixin.flex(center, flex-start, column);
  text-align: start;

  @include mixin.media() {
    width: 100%;
    padding: 50px;
  }

  @include mixin.mediaTv() {
    width: 90%;
  }

  &__h3 {
    color: vars.$only-white;
    font-size: 3rem;
    font-family: vars.$fontFamilyTitles;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.2rem;

    @include mixin.media() {
      font-size: 5rem;
    }

    @include mixin.mediaTv() {
      font-size: 5.2rem;
    }
  }

  &__span {
    font-size: inherit;
    font-family: inherit;
    color: vars.$green-black;
  }

  &__wrapper {
    columns: 3 320px;
    column-gap: 1rem;
    margin-top: 20px;
  }

  &__flex {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    @include mixin.flex(space-between, center, row);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  &__p {
    color: vars.$only-white;
    font-size: 1.4rem;
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: all 350ms ease;

    &:hover {
      filter: opacity(0.5);

      img {
        transform: rotate(10deg) scale(1.3);
      }

      div {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @include mixin.flex(center, center, row);
    background-color: rgba($color: #000000, $alpha: 0.8);
    backdrop-filter: blur(7px);
    transition: opacity 0.4s ease, visibility 0.4s ease,
      transform 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 6;

    & img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      border-radius: 5px;
      transition: 0.5s ease-in-out;
    }

    &--open {
      visibility: visible;
      opacity: 1;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: vars.$only-white;
    cursor: pointer;
    width: fit-content;
    font-size: 2rem;
    transition: 0.5s;

    &:hover {
      color: vars.$green-black;
    }
  }

  &__des {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
    font-size: 1.4rem;
    color: vars.$only-white;
    transition: 0.5s;
  }
}
