@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

$skillLenght: 0%;

.skillsContent {
  width: 90%;
  max-width: 1380px;
  margin: 40px auto 0 auto;
  @include mixin.flex(center, flex-start, column);
  text-align: start;
  color: vars.$only-white;

  @include mixin.media() {
    width: 100%;
    padding: 50px;
  }

  &__h3 {
    color: vars.$only-white;
    font-size: 3rem;
    font-family: vars.$fontFamilyTitles;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.2rem;

    @include mixin.media() {
      font-size: 5rem;
    }
  }

  &__span {
    font-size: inherit;
    font-family: inherit;
    color: vars.$green-black;
  }

  &__wrapper {
    width: 100%;
    @include mixin.grid(2, 1fr, 20px);
  }

  &__column {
    margin-top: 40px;
    @include mixin.flex(flex-start, flex-start, column);
    row-gap: 30px;

    &--right {
      display: none;
    }

    @include mixin.media() {
      height: 180px;

      &--right {
        @include mixin.flex(flex-end, flex-end, column);
      }
    }
  }

  &__skills {
    width: 100%;
    @include mixin.flex(space-between, center, row);
  }

  &__p {
    font-size: 1.3rem;

    @include mixin.media() {
      font-size: 1.6rem;
    }
  }

  &__bar {
    position: relative;
    width: 165px;
    height: 8px;
    background-color: #888;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;

    @include mixin.media() {
      width: 285px;
      height: 10px;
    }
  }

  &__progress {
    position: absolute;
    left: -165px;
    width: 0%;
    height: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: transparent;
    background-color: vars.$green-black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: color 0.1s, background-color 0.2s ease-in-out,
      left 1s ease-in-out;
    -webkit-transition: color 0.1s, background-color 0.2s ease-in-out,
      left 1s ease-in-out;
    -moz-transition: color 0.1s, background-color 0.2s ease-in-out,
      left 1s ease-in-out;
    -ms-transition: color 0.1s, background-color 0.2s ease-in-out,
      left 1s ease-in-out;
    -o-transition: color 0.1s, background-color 0.2s ease-in-out,
      left 1s ease-in-out;

    @include mixin.media() {
      left: -285px;
    }

    &:hover {
      color: vars.$only-white;
    }
  }

  &__figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    @include mixin.media() {
      width: 80%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__bottom {
    width: 100%;
    margin-top: 80px;
    @include mixin.flex(space-evenly, center, row);
    flex-wrap: wrap;
    row-gap: 40px;

    @include mixin.media() {
      flex-wrap: nowrap;
    }
  }

  &__program {
    width: 100%;
    @include mixin.flex(space-between, center, column);
    gap: 20px;
  }

  &__info {
    @include mixin.flex(center, center, column);
    gap: 10px;
  }

  &__text {
    font-size: 1.5rem;
    color: vars.$green-black;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  &__icon {
    width: fit-content;
    font-size: 2.5rem;
    color: vars.$only-white;

    &:hover {
      animation: vibrate-1 0.3s linear infinite both;
    }
  }

  &__stars {
    width: 100%;
    @include mixin.flex(center, center, row);
    gap: 20px;
  }

  &__start {
    width: fit-content;
    font-size: 1.2rem;
    color: vars.$green-medium;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
      transform: scale(1.1) translateY(-5px);
      -webkit-transform: scale(1.1) translateY(-5px);
      -moz-transform: scale(1.1) translateY(-5px);
      -ms-transform: scale(1.1) translateY(-5px);
      -o-transform: scale(1.1) translateY(-5px);
      color: vars.$green-black;
    }
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
