@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.videosContent {
  width: 90%;
  max-width: 1380px;
  margin: 40px auto 0 auto;
  @include mixin.flex(center, flex-start, column);
  text-align: start;
  color: vars.$only-white;

  @include mixin.media() {
    width: 100%;
    padding: 50px;
  }

  &__h3 {
    color: vars.$only-white;
    font-size: 3rem;
    font-family: vars.$fontFamilyTitles;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.2rem;

    @include mixin.media() {
      font-size: 5rem;
    }
  }

  &__span {
    font-size: inherit;
    font-family: inherit;
    color: vars.$green-black;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }

  &__card {
    width: 400px;
    height: 400px;
    margin: 0 auto;

    @include mixin.flex(flex-start, flex-start, column);
    align-items: center;
    background-color: vars.$backgroundCard;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    @include mixin.media() {
      height: 500px;
    }
    @include mixin.media() {
      height: 500px;
    }
  }

  &__info {
    width: 100%;
    height: 200px;
    @include mixin.flex(center, flex-start, column);
    row-gap: 40px;
    padding: 20px;
  }

  &__h4 {
    width: 80%;
    font-size: 1.8rem;
    text-align: start;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: vars.$green-black;

    @include mixin.media() {
      width: 100%;
      font-size: 2.8rem;
      text-align: start;
    }
  }

  &__p {
    font-size: 1.3rem;

    @include mixin.media() {
      font-size: 1.5rem;
    }
  }

  &__video {
    width: 100%;
    height: 320px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  color: vars.$only-white;
  background-color: vars.$green-black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.7rem;
}
