@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.videosContent {
  width: 90%;
  // max-width: 1380px;
  margin: 40px auto 0 auto;
  @include mixin.flex(center, flex-start, column);
  text-align: start;
  color: vars.$only-white;

  @include mixin.media() {
    width: 100%;
    padding: 50px;
  }

  @include mixin.mediaTv() {
    width: 90%;
  }

  &__h3 {
    color: vars.$only-white;
    font-size: 3rem;
    font-family: vars.$fontFamilyTitles;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.2rem;

    @include mixin.media() {
      font-size: 5rem;
    }
  }

  &__span {
    font-size: inherit;
    font-family: inherit;
    color: vars.$green-black;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    @include mixin.grid(1, 1fr, 40px);

    @include mixin.media() {
      @include mixin.grid(2, 1fr, 10px);
    }
  }

  &__card {
    position: relative;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    @include mixin.grid(1, 1fr, 10px);
    background-color: vars.$backgroundCard;
    border-radius: vars.$borderRadius;
    overflow: hidden;

    @include mixin.media() {
      width: 95%;
      @include mixin.grid(2, 1fr, 10px);
      height: 280px;

      &:nth-child(2n) {
        margin-top: 80px;
      }
    }
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 20px 8px;
    @include mixin.flex(space-between, flex-start, column);
    background-color: inherit;
    z-index: 2;
    gap: 30px;

    @include mixin.media() {
      gap: 0;
    }
  }

  &__buttons {
    @include mixin.flex(center, center, row);
    column-gap: 10px;
  }

  &__top {
    @include mixin.flex(flex-start, flex-start, column);
    row-gap: 10px;
  }

  &__h4 {
    font-size: 2.3rem;
    color: vars.$green-black;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  &__data {
    @include mixin.flex(center, center, row);
    gap: 20px;
  }

  &__dt {
    font-size: 1.2rem;
  }

  &__p {
    font-size: 1.3rem;

    @include mixin.media() {
      font-size: 1.5rem;
    }
  }

  &__download {
    padding: 8px 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    color: vars.$only-white;
    background-color: vars.$green-pant;
  }

  &__button {
    color: vars.$only-white;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    padding: 3px;
    @include mixin.flex(center, center, row);
    border: 1px solid vars.$green-black;
    border-radius: 50%;
    transition: 0.5s;

    &:hover {
      background-color: vars.$green-black;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    border-radius: 7px 0 0 7px;
    overflow: hidden;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  color: vars.$only-white;
  background-color: vars.$green-black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.7rem;
}

.rh5v-Overlay_icon {
  width: fit-content;
}
