@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin grid($numColumns, $tamColumns, $gap) {
  display: grid;
  grid-template-columns: repeat($numColumns, $tamColumns);
  gap: $gap;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: $gap;
  }
}

@mixin mediaMobile($tama単o: 768px) {
  @media screen and (max-width: $tama単o) {
    @content;
  }
}

@mixin media($tama単o: 800px) {
  @media screen and (min-width: $tama単o) {
    @content;
  }
}
