@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poiret+One&display=swap");

$only-white: #fff;
$only-black: #000;
$fontFamilyText: "Montserrat", sans-serif;
$fontFamilyTitles: "Poiret One", cursive;
$only-gray: #5b5b5b;
$gray-hover: #b2b2b2;
$off-black: #333333;
$off-white: #fffdf0;
$background: #050505;
$backgroundCard: #0e0d0d;
$green-medium: #609966;
$green-black: #1c6758;
$green-pant: #030c0b;

$skillLenght: 0%;
$borderRadius: 7px;
